body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* 배경 이미지 */
.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;  /* cover 대신 contain */
  background-color: #000;
  z-index: -1; /* 버튼보다 뒤로 */
}

/* 시작 버튼 */
.start-btn {
  width: 20vw;
  height: 13vh;
  min-width: 200px;
  min-height: 80px;
  cursor: pointer;
  transition: transform 0.2s ease;
  position: absolute;
  bottom: 35%;  /* 화면 하단에서 30% 위 */
  left: 50%;
  transform: translateX(-50%);
}

.start-btn:hover {
  transform: translateX(-50%) scale(1.05);
}
